{% extends 'main.html' %}
{% load static %}
{% block content %}
   <body>
    <!-- :: Menu Box -->
        <div class="menu-box">
            <div class="inner-menu">
                <div class="website-info">
                    <a href="index.html" class="logo"><img class="img-fluid" src="../static/assets/images/logo.png" alt="01 Logo"></a>
                    <p>On a simple yet powerful mission. Change healthcare, One Patient and One Healthcare professional at a time. That is Healthcare Done Right.</p>
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <div class="contact-box">
                        <i class="flaticon-call"></i>
                        <div class="box">
                            <a class="phone" href="tel:0088609830">+1 (769) 278 - 0516</a>
                        </div>
                    </div>
                    <div class="contact-box">
                        <i class="flaticon-email"></i>
                        <div class="box">
                            <a class="mail" href="mailto:healthcaredoneright.et@gmail.com">healthcaredoneright.et@gmail.com</a>
                        </div>
                    </div>
                    <div class="contact-box">
                        <i class="flaticon-location"></i>
                        <div class="box">
                            <p>110 Oak Meadow Dr Clinton,MS 39056</p>
                        </div>
                    </div>
                </div>
                <div class="follow-us">
                    <h4>Follow Us</h4>
                    <ul class="icon-follow">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <span class="menu-box-icon exit"><i class="fas fa-times"></i></span>
            </div>
        </div>

        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header" style="background-image: url(../static/assets/images/header/05_header.jpg)">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner">
                            <h1>FAQs</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>FAQs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- :: FAQs -->
        <section class="faqs-page py-100-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="faq">
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-1" aria-expanded="false" aria-controls="faqs-1">Why should I use Healthcare Done Right rather than hire someone myself?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-1">
                                    <div class="card card-body about-text">
                                        <b>Healthcare Done Right specializes in providing caregiver services. This includes constant recruiting, which is often a full-time job. Upkeep of caregiver records, credentials, continuous testing, and evaluation demands a great deal of time and resources. Sustaining a qualified caregiver and holding them accountable to the highest standards can be overwhelming. A specialized company and experienced staff can be much more productive.
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-2" aria-expanded="false" aria-controls="faqs-2">Are your services available for anyone, or just the elderly in nursing homes or assisted living facilities?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-2">
                                    <div class="card card-body about-text">
                                        Our services are available to anyone in need, not just the elderly in assisted living facilities: pediatric home-care and disabled (behavioral, mental, and/or Physical) healthcare assistance inclusive. We also provide services to new mothers, individuals with disabilities, victims of accidents, people recovering from a recent illness or surgery, and anyone who just needs a little help getting around, and/or mentoring and companionship. Moreover, we provide services "wherever" clients/patients reside and "when" they need require it.
                                    </div>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-3" aria-expanded="false" aria-controls="faqs-3">What happens if my Caregiver cannot be available?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-3">
                                    <div class="card card-body about-text">
                                        Healthcare Done Right maintains a vast and ever increasing network of Caregivers and Health care Specialists. We are obligated to maintain sufficient backup in the event of the unexpected. A Healthcare Specialist and/or Caregiver are normally available.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq">
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-4" aria-expanded="false" aria-controls="faqs-4">Who pays the caregiver - you or me?
                                        <i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-4">
                                    <div class="card card-body about-text">
                                        Healthcare Done Right Care network of Caregivers and Independent Health care Specialists take full accountability for all payroll, taxes, insurance and administrative responsibilities for you. You bill/submit your long-term care to your insurance company. You pay us directly.
                                    </div>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-5" aria-expanded="false" aria-controls="faqs-5">Can I change the schedule if I have appointments?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-5">
                                    <div class="card card-body about-text">
                                        <b>Of course! This is a frequent requirement and certainly necessary to accommodate individual needs that often arise on last minute notice.
                                        </b>
                                    </div>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-6" aria-expanded="false" aria-controls="faqs-6">Do I have to sign a contract to keep services for a specified period of time?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-6">
                                    <div class="card card-body about-text">
                                        No. Healthcare Done Right is flexible around your changing circumstances. One can increase or decrease services as needed. Services can be (cancelled) re-instated at any time without obligation and consequence.
                                    </div>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-7" aria-expanded="false" aria-controls="faqs-7">Does Medicare or insurance cover services?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-7">
                                    <div class="card card-body about-text">
                                        They may but there is no guarantee. You must confirm with your insurance provider what is covered. Medicare does not pay Healthcare Done Right directly for our services, but insurance providers reimburse many of our institutional clients. We are happy to work with your insurance company to make that determination. We will also assist by billing/submitting to the insurance company.
                                    </div>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-8" aria-expanded="false" aria-controls="faqs-8">How much do the services cost?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-8">
                                    <div class="card card-body about-text">
                                        Healthcare Done Right offers several levels of care. Costs are determined based on the client's and patients needs. Call +1 (769) 278 - 0516 to have a Care Coordinator assess your particular financial requirements, limitations, and overall situation. We will then work with you and your insurance to provide you with an affordable plan and quote.


                                    </div>
                                </div>
                            </div>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-9" aria-expanded="false" aria-controls="faqs-8">What really makes Healthcare done right better and different<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-9">
                                    <div class="card card-body about-text">
                                        The services we provide are custom tailored to your requirements. Our Caregivers and their services cannot be mass-produced, franchised, or commercialized. Each case, your case, is as unique as the individual receiving care. Healthcare Done Right provides one-on-one service with a devoted caregiver.
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </section>

    </body>

</html>
{% endblock content %}

    
