 {% load static %}

  <!-- :: Footer -->
        <footer class="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-4">
                            <div class="logo">
                                <img class="img-fluid" src="{% static 'assets/images/logo_light.png' %}" alt="Footer Logo">
                                <p>On a simple yet powerful mission. Change healthcare, One Patient and One Healthcare professional at a time. That is Healthcare Done Right.</p>
                                <ul class="footer-icon">
                                    <li><a><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="footer-title">
                                <h4>Quick Link</h4>
                            </div>
                            <ul class="links">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="jobseeker.html">Job Seekers</a></li>
                                <li><a href="employers.html">For Employers</a></li>
                                <li><a href="faqs.html">FAQs</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="footer-title">
                                <h4>Operating Hours</h4>
                            </div>
                            <ul class="opening-hours">
                                <li>Monday<span>9.00 AM - 9.00 PM</span></li>
                                <li>Tuesday<span>9.00 AM - 9.00 PM</span></li>
                                <li>Wednesday<span>9.00 AM - 9.00 PM</span></li>
                                <li>Thursday<span>9.00 AM - 9.00 PM</span></li>
                                <li>Friday<span>9.00 AM - 9.00 PM</span></li>
                                <li>Saturday/Sunday<span>8.00 AM - 9.00PM</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Add whatsapp Button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
            <a href="https://api.whatsapp.com/send?phone=+17692780516&text=Hello." class="whatsapp" target="_blank">
                <i class="fa fa-whatsapp my-float"></i>
            </a>

    <!-- End of whatsapp Button -->

            <div class="copyright">
                <div class="container">
                    <p>@ 2022 HealthCare Done Right. With Love by <a href="https://bickdrim.com">Bickdrim Sarl</a></p>
                    <ul>
                        <li><a href="#">Terms &amp; Conditions </a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </footer>


  <!-- Add whatsapp Button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <a href="https://api.whatsapp.com/send?phone=+17692780516&text=Hello." class="whatsapp" target="_blank">
                <i class="fa fa-whatsapp my-float"></i>
            </a>

    <!-- End of whatsapp Button -->

            <!-- :: jQuery JS -->
            <script src="../{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

            <!-- :: Bootstrap JS Bundle With Popper JS -->
            <script src="../{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

            <!-- :: Owl Carousel JS -->
            <script src="../{% static 'assets/js/owl.carousel.min.js' %}"></script>

            <!-- :: Lity -->
            <script src="../{% static 'assets/js/lity.min.js' %}"></script>

            <!-- :: Nice Select -->
            <script src="../{% static 'assets/js/jquery.nice-select.min.js' %}"></script>

            <!-- :: DatePicker -->
            <script src="../{% static 'assets/js/datepicker.min.js' %}"></script>

            <!-- :: TimePicker -->
            <script src="../{% static 'assets/js/jquery.timepicker.min.js' %}"></script>

            <!-- :: Magnific Popup -->
            <script src="../{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

            <!-- :: Waypoints -->
            <script src="../{% static 'assets/js/jquery.waypoints.min.js' %}"></script>

            <!-- :: CounterUp -->
            <script src="../{% static 'assets/js/jquery.counterup.min.js' %}"></script>

            <!-- :: Main JS -->
            <script src="../{% static 'assets/js/main.js' %}"></script>
            <script src="../{% static 'assets/js/ajax-script.js' %}"></script>