{% extends 'main.html' %}

{% block content %}

     <body>

        <!-- :: Menu Box -->
        <div class="menu-box">
            <div class="inner-menu">
                <div class="website-info">
                    <a href="index.html" class="logo"><img class="img-fluid" src="../static/assets/images/logo.png" alt="01 Logo"></a>
                    <p>On a simple yet powerful mission. Change healthcare, One Patient and One Healthcare professional at a time. That is Healthcare Done Right.</p>
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <div class="contact-box">
                        <i class="flaticon-call"></i>
                        <div class="box">
                            <a class="phone" href="tel:0088609830">+1 (769) 278 - 0516</a>
                        </div>
                    </div>
                    <div class="contact-box">
                        <i class="flaticon-email"></i>
                        <div class="box">
                            <a class="mail" href="mailto:healthcaredoneright.et@gmail.com">healthcaredoneright.et@gmail.com</a>
                        </div>
                    </div>
                    <div class="contact-box">
                        <i class="flaticon-location"></i>
                        <div class="box">
                            <p>110 Oak Meadow Dr Clinton,MS 39056</p>
                        </div>
                    </div>
                </div>
                <div class="follow-us">
                    <h4>Follow Us</h4>
                    <ul class="icon-follow">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <span class="menu-box-icon exit"><i class="fas fa-times"></i></span>
            </div>
        </div>

        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header" style="background-image: url(../static/assets/images/header/06_header.jpg)">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner">
                            <h1>Get Employed</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- :: About Us -->
        <section class="about-us about-us-3 py-100" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-img-box">
                            <div class="img-box" style="background-image: url(../static/assets/images/Jobseekers.jpg)"></div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about-text-box">
                            <div class="sec-title">
                                <h3>Great working environment & terms</h3>
                            </div>
                            <p>Our goal is to help everyone land good job under comfortable working conditions. That means  working in an environment that enables you to practice your skills and realize your career objective. This definitely would be a rewarding role and would position you for career advancement. At Healthcare done right, we will assist you in finding the position that best suit your abilities and match your expertise with healthcare facilities that meet your specific criteria. </p>

                            <div class="row">
                                <div class="col">
                                    <a class="btn-1" href="#doctorapply">Apply Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- :: Departments -->
        <section class="departments departments-2 departments-3 py-100-70">
            <div class="container">
                <div class="sec-title sec-title-3">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Even more advantages!</h2>
                            <h3>Additional Benefits working with us</h3>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <div class="item-content">
                                <h4>Adequate Pay</h4>
                                <p>We are  committed to adequate pay packages. We're strive for pay well industry averages. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <div class="item-content">
                                <h4>Flexible Schedules</h4>
                                <p>We offer flexible schedules to meet your availability and ensure quality work experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <div class="item-content">
                                <h4>Flexible Placement</h4>
                                <p>You get to change your location if you're justifiably not comfortable working at any location</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <div class="item-content">
                                <h4>Vast Skills Levels</h4>
                                <p>We Have opportunities for all legal working age groups and skill levels. Skilled and unskilled</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <div class="item-content">
                                <h4>Added assistance</h4>
                                <p>We consider all Workers Compensation, Unemployment Insurance, and “Employment of Record” responsibilities
                                    .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="departments-item">
                            <div class="item-content">
                                <h4>Better payment schedules</h4>
                                <p>Get paid even quicker if needed. All justifiable service hours can be paid in as early as 1 week</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- :: Provide -->
        <section class="provide provide-home-3" id="doctorapply">
            <div class="bg-section">
                <div class="overlay overlay-3"></div>
            </div>
            <div class="container">
                <div class="sec-title sec-title-3">
                    <div class="row ">
                        <div class="col-lg-6">
                            <h2>Join the family</h2>
                            <h3>Land that dream role you always cared about</h3>
                        </div>
                    </div>
                </div>

                <!-- :: Quote And Presentation -->
                <div class="quote-and-presentation">
                    <div class="row mx-auto justify-content-center">
                        <div class="col-lg-10 ">
                            <form class="quote-box form-contact">
                                <div class="sec-title">
                                    <h3>For Job Seekers!</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Enter Role you're applying for*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="text" name="role" placeholder="Enter Role" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Full Name*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="text" name="name" placeholder="Full Name" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Cell Phone Number*</span>
                                            <i class="fas fa-phone"></i>
                                            <input type="tel" name="cell phone Number" placeholder="Company Name" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">city*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="city" name="email" placeholder="city" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">State*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="text" name="state" placeholder="State" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">Zipcode*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="text" name="Zipcode" placeholder="Zipcode" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="quote-item">
                                            <span class="lable">email*</span>
                                            <i class="fas fa-envelope"></i>
                                            <input type="email" name="email" placeholder="email" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Education*</span>
                                            <select name="departments">
                                                <option value="high_school">High School</option>
                                                <option value="vo_tech">Vo-Tech</option>
                                                <option value="college">College</option>
                                                <option value="post_graduate">Post Graduate</option>
                                                <option value="others">Others</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Desired hourly wage*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="text" name="wage" placeholder="Desired Wage ($)" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Input your skills (separated with commas)*</span>
                                            <i class="fas fa-file-signature"></i>
                                            <input type="text" name="skills" placeholder="Skills(separated with commas)" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Full Time work Days*</span>
                                            <select name="departments">
                                                <option value="1">1<option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <span class="lable">Marital Status*</span>
                                            <select name="departments">
                                                <option value="single">Single</option>
                                                <option value="married">Married</option>
                                                <option value="exemptions">Exemptions</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="quote-item">
                                            <button class="btn-1" type="submit">Submit Application</button>
											<span class="out-message m-2"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </body>

    </html>
{% endblock content %}

